<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MongoDbConnectionString" value="mongodb+srv://mmrbalcazar:FBAc8KKJ0DMCvJWk@cluster0.tix8qz7.mongodb.net/?retryWrites=true&amp;w=majority&amp;appName=Cluster0" />
		<add key="MongoDbDatabaseName" value="InventoryDB" />
	</appSettings>
</configuration>
