<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="InventoryManagementSystemDB"
			 connectionString="Server=localhost\SQLEXPRESS;Database=InventoryManagementSystemDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
